@tailwind base;
@tailwind components;
@tailwind utilities;


*, *::before, *::after {
    box-sizing: border-box !important;
}

* {
    padding: 0;
    margin: 0;
    font: inherit;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
    width: 26px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
}

body {
    color: rgba(0, 0, 0, 0.3);
}

